* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    overflow: hidden;
}
@keyframes spin {
    from {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    to {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
@keyframes gradient {
    from {
        background-position: 0%,100%;
    }
    50% {
        background-position: 100%,100%;
    }
    to {
        background-position: 0%,100%;
    }
}
nav {
    height: 5vw;
    border-bottom:10px black solid;
    background-size: 300%,300%;
    transition: all 0.2s;
    background-image: linear-gradient(90deg, #00000000, #00000000);
    background-size: 500%,500%;
}
nav h1 {
    position: absolute;
    top: -2.5vw;
    font-size: 4vw;
    font-family: Bungee Shade;
    left: 50vw;
    transform: translate(-50%);
}
.images {
    position: absolute;
    left: 50vw;
    top: 50vw;
    transform: translate(-50%,-50%);
    animation: spin;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}


.anchor {
    font-family: Bungee;
    position: absolute;
    background-image: linear-gradient(90deg, #00000000, #00000000);
    background-size: 500%,500%;
    top: 85vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    font-size: 1vw;
    border: 7px black solid;
    cursor: pointer;
    transition: all 0.2s;
}
.anchor:hover {
    transition: all 0.2s;
    animation: gradient 5s ease 0s infinite;
    background-image: linear-gradient(90deg, #00a2ff, #15ff00,#00a2ff);
}

.pizzaSlice {
    opacity: 0;
    display: block;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%,-50%);
    animation: spin;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

.showBuilder:hover ~ nav {
    animation: gradient 5s ease 0s infinite;
    background-image: linear-gradient(90deg, #00a2ff, #15ff00,#00a2ff);
    color: white;
    border-bottom: rgb(0, 0, 0) 10px solid;
}
.showBuilder:hover ~ .wholePizza {
    opacity: 0;
}
.showBuilder:hover ~ .slicedPizza{
    opacity: 100;
}

.builder {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 50;
    top: 10vh;
    transition: all 1s;
}

#pizzaForm {
    position: absolute;
    top: 1vh;
    left: 79.5vw;
    width: 20vw;
    height: 88vh;
    background-color: white;
    font-family: IBM Plex Mono;
    font-size: 1.7vw;
}

#pizzaForm h2 {
    border-bottom: 5px black solid;
}



#prices {
    position: absolute;
    top: 1vh;
    left: 1vw;
    width: 20vw;
    height: 88vh;
    background-color: white;
}